<p>demop works!</p>

<p> </p>

    <p>Original:{{today}} </p>
    <p>Transformed:{{today |  date:'fullDate' }}|</p>
        <p>Original:{{text}}  </p>
        <p>Transformed:{{text | uppercase}}  </p>
        <p>Reversed:{{text | reverse}}</p>
        <p>Transformed:{{text | lowercase}}  </p>
            <p> Original:{{amount}}  </p>
             <p>Transformed:{{amount|currency}}</p>
                <p>Original:{{percentage}}  </p>   
                <p>Transformed:{{percentage|percent }}</p>                                 
