<h2>{{ book.id ? 'Edit Book' : 'Add New Book' }}</h2>
<form (ngSubmit)="saveBook()" #bookForm="ngForm">
  <label>
    Title:
    <input [(ngModel)]="book.title" name="title" required>
  </label>
  <br>
  <label>
    Author:
    <input [(ngModel)]="book.author" name="author" required>
  </label>
  <br>
  <label>
    Genre:
    <input [(ngModel)]="book.genre" name="genre" required>
  </label>
  <br>
  <label>
    Description:
    <textarea [(ngModel)]="book.description" name="description" required></textarea>
  </label>
  <br>
  <label>
    Published Date:
    <input type="date" [(ngModel)]="book.publishedDate" name="publishedDate" required>
  </label>
  <br>
  <br>
  <button type="submit" [disabled]="bookForm.invalid">Save</button>
</form>
